:host {
  .container{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
  }
  .title-container{
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    max-height: 52px;
  }
  .balance{
    min-width: 200px;
    text-align: start;
  }
  .tablecontainer{
    flex-grow: 1;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
  .save-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
}
